.App {
  position: relative;
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-image: url('https://images.pexels.com/photos/221047/pexels-photo-221047.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: 1;
}
.App::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.2;
  z-index: -1;
}
.wizard {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  z-index: 2;
  pointer-events: all;
}
